<h4><%= @partner.name %> Details</h4>

<%= form_for [@partner, @file_upload], :html => { :multipart => true } do |f| %>
	<p>
		<%= f.file_field :file %>
	</p>
	<%= f.submit %>
<% end %>
<!-- <table class="table">
	<thead>
		<tr>
			<th>Chassis No</th>
			<th>Size</th>
			<th>Booking No</th>
			<th>BL No</th>
			<th>Customer</th>
			<th>Date & Time Out</th>
			<th>Date & Time In</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table> -->
